.main-view {
    width: 685px;
    margin: auto;
    margin-top: 10px;
}

.input-size {
    width: 300px;
}

.translate-block {
    margin: auto;
    width: 230px;
}

.btn-margin {
    margin-top: 5px;
}

.btn-forgot-psw {
    display: inline;
}

.label-color-apple {
    background-color: #0000ff;
}

.label-color-google {
    background-color: #ff3300;
}

.label-color-samsung {
    background-color: #3399ff;
}

.label-color-moto {
    background-color: #009933;
}

.label-color-nexus {
    background-color: #9900ff;
}

.label-color-lg {
    background-color: #ff3399;
}

.label-color-siemens {
    background-color: #000066;
}

.label-color-hp {
    background-color: #669999;
}

.label-color-test {
    background-color: #660033;
}