<h2 >{{ 'pages.userInfo.greeting.welcome.label' | translate }}, {{userInfo.userName}}!</h2>
<div class="panel panel-default">
    <table class="table">
        <tr class="success">
            <th>{{ 'pages.userInfo.name.label' | translate }}</th>
            <th>{{ 'pages.userInfo.bio.label' | translate }}</th>
        </tr>
        <tr>
            <td>{{userInfo.userName}}</td>
            <td>{{userInfo.userBio}}</td>
        </tr>
    </table>
</div>
<button type="submit" class="btn btn-danger" ng-click="logout()">{{ 'pages.userInfo.logout.anchor' | translate }}</button>