﻿<form>
    <div class="form-group">
        <label for="userName" translate="pages.login.userId.label"></label>
        <input type="text" class="form-control input-size" placeholder="Login" ng-model="userName">
    </div>
    <div class="form-group">
        <label for="password" translate="pages.login.password.label"></label>
        <input type="password" class="form-control input-size" placeholder="Password" ng-model="password">
    </div>
    <button type="submit" class="btn btn-primary" ng-click="login()" translate="pages.login.login.button"></button>
    <button type="submit" class="btn btn-danger" ng-click="cancel()" translate="pages.login.cancel.button"></button>
    <div class="btn-forgot-psw" ng-controller="ModalForgotPasswordController">
        <button type="submit" class="btn btn-info" ng-click="open('sm')" translate="pages.login.forgotPassword.button"></button>
    </div>
</form>