<div>
    <div class="container">

        <span class="label label-color-apple" translate="pages.home.dashboard.apple.label"></span>
        <span class="label label-color-google" translate="pages.home.dashboard.google.label"></span>
        <span class="label label-color-samsung" translate="pages.home.dashboard.samsung.label"></span>
        <span class="label label-color-moto" translate="pages.home.dashboard.moto.label"></span>
        <span class="label label-color-nexus" translate="pages.home.dashboard.nexus.label"></span>
        <span class="label label-color-lg" translate="pages.home.dashboard.lg.label"></span>
        <span class="label label-color-siemens" translate="pages.home.dashboard.siemens.label"></span>
        <span class="label label-color-hp" translate="pages.home.dashboard.hp.label"></span>
        <span class="label label-color-test" translate="pages.home.dashboard.test.label"></span>

        <div class="checkbox">
            <label><input type="checkbox" ng-model="all" ng-change="allClick(all)">{{ 'pages.home.dashboard.selectAll.checkbox' | translate }}</label>
        </div>

        <line-chart-directive h="400" w="600">
           <line-chart-series-directive ng-repeat="s in series" values="{{s.values}}" stroke="{{s.colour}}" stroke-width="2" fill="none"></line-chart-series-directive>
        </line-chart-directive>

        <input type="text" ng-model="name" uib-typeahead="name as name.name for name in names | filter:{name:$viewValue}" placeholder="Enter and select name" class="form-control input-size">

        <button type="submit" class="btn btn-primary btn-margin" ng-click="addSeries(name)" ng-disabled="!name" translate="pages.home.dashboard.add.button"></button>

    </div>
</div>